exportClasses("MizerSealParams")

exportPattern('set')
exportPattern('get')
exportPattern('plot')
exportPattern('RTMB')
export('S4toList')
export('rates_vars')

exportMethods('validParams')

import('mizer') # Import all mizer functions
import('RTMB') # Import all RTMB
importFrom('stats' , 'nlminb')
importFrom('stats' , 'setNames')
